- hosts: local

  tasks:

  - name: Check that ~/.pyenv already exists (delete it to reinstall)
    stat:
      path: ~/.pyenv
    register: pyenv_dir

  - name: Install
    when: not pyenv_dir.stat.exists
    block:
    - name: Install packages for building the Python
      include_tasks: packages.yml
      vars:
        packages:
          - wget
          - curl
          - make
          - llvm
          - build-essential
          - libssl-dev
          - zlib1g-dev
          - libbz2-dev
          - libreadline-dev
          - libsqlite3-dev
          - libncursesw5-dev
          - xz-utils
          - tk-dev
          - libxml2-dev
          - libxmlsec1-dev
          - libffi-dev
          - liblzma-dev

    - name: Install pyenv
      vars:
        pyenv_installer: ~/pyenv-install.sh
      block:
        # Avoiding of curl here just avoids the Ansible warnings,
        # but curl is still used by pyenv installer under the hood.
        - name: Download pyenv installer
          get_url:
            url: https://pyenv.run
            dest: "{{ pyenv_installer }}"
            mode: 0755
            force: yes

        - name: Install pyenv
          shell: "{{ pyenv_installer }}"

        - name: Delete pyenv installer
          file:
            path: "{{ pyenv_installer }}"
            state: absent
