---

- hosts: local

  # These high-level vars are available in nested tasks.
  vars:
    myenv: "{{ playbook_dir | dirname | dirname }}"

  tasks:

  - name: Settings
    include_vars:
      file: "{{ myenv }}/ansible/settings.yml"
      name: settings

  - name: Link configs at ~
    loop:
      - linux/home/.bashrc
      - linux/home/.bash_aliases
      - linux/home/.dircolors
      - linux/home/.tmux.conf
      - vim/.vim
      - vim/.vimrc
    file:
      src: "{{ myenv }}/{{ item }}"
      dest: "~/{{ item | basename }}"
      state: link
      force: true

  - name: Install basic packages with APT
    include_tasks: "{{ myenv }}/ansible/install/packages.yml"
    vars:
      packages:
        - aptitude
        - deborphan

  - name: Include tasks
    loop:
      - git
      - docker
      - vim-lxqt
      - nvim
      - xorg
      - xterm
    include_tasks: "tasks/{{ item }}.yml"
